
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    {% block style %}{% endblock style %}
</head>
<body>
    
    {% block header %}
    <header>
        <h1>Welcome to tailwindcss</h1>
    </header>
    {% endblock header %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
    <footer>
        <p>&copy; 2025 My Site</p>
    </footer>
    {% endblock footer %}
    
</body>
{% block script %} {% endblock script %}
</html>
