{% extends "tailwindcss/core.html" %}
{% load static %}

{% block title %}My Site{% endblock %}

{% block seo %}



<meta name="description" content="{% block meta_description %}Default website description{% endblock %}">

<link rel="icon" href="{% static 'tailwindcss/images/favicon.ico' %}">
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'tailwindcss/css/style.css' %}">
{% endblock %}

{% block header %}
{% include "tailwindcss/includes/header.html" %}
{% endblock %}

{% block layout %}
<main id="content">
    {% block content %}{% endblock %}
</main>
{% endblock %}

{% block footer %}
{% include "tailwindcss/includes/footer.html" %}
{% endblock %}

{% block js %}
{% include "tailwindcss/includes/scripts.html" %}
{% endblock %}
