{% load static %}
<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}"
      class="{% block html_class %}dark{% endblock %}">
<head>
    <script>
        // Button load hone se pehle hi class apply kar deta hai
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
</head>


<head>
{% block head %}
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tailwindcss/css/main.css' %}">

    {% block seo %}{% endblock seo %}
    {% block css %}{% endblock css %}
    {% block style %}{% endblock style %}
{% endblock head %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% block body %}
    {% block header %}{% endblock header %}
    {% block layout %}{% endblock layout %}
    {% block footer %}{% endblock footer %}
{% endblock body %}

{% block js %}{% endblock js %}
</body>
</html>

{% block script %}{% endblock script %}