<footer class="bg-surface border-t border-borderr">
  <div class="mx-auto w-full max-w-screen-xl"> 
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      {% include "includes/footer/includes/company_link.html" %}

      {% include "includes/footer/includes/help_center_link.html" %}

      {% include "includes/footer/includes/legal_link.html" %}

      {% include "includes/footer/includes/download_link.html" %}

    </div>

    <!-- Bottom bar -->
    <div class="bg-surface-alt px-4 py-4 flex flex-col md:flex-row
                items-center justify-center gap-4">
        <span class="text-sm text-text-muted text-center">
            © 2026 Devil™. All Rights Reserved.
        </span>
    </div>

  </div>
</footer>

